.alarm_start {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0e0e0e;
}
.alarm_main {
  width: 650px;
  height: 460px;
  background-color: #fff;
  border-radius: 6px;
  background-color: #171717;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 0px 14px -7px rgb(17, 16, 16);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.header_alarm {
  background-color: #1d1d1d;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom: 1px solid rgb(56, 55, 55);
  padding: 5px 0px;
}
.header_alarm > h4 {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 29px;
  margin: 10px 10px;
  color: #e28a18;
  font-size: 18px;
  padding-left: 5px;
}
.header_alarm > h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.header_alarm > .alarm_add_icon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 5px;
}
.header_alarm > .alarm_add_icon > button {
  width: 50px;
  outline: none;
  border: none;
  background-color: #1d1d1d;
}
.header_alarm > .alarm_add_icon > button .add {
  cursor: pointer;
  color: #e28a18;
  font-size: 35px;
}
.header_alarm > .alarm_add_icon > button .save {
  cursor: pointer;
  color: #e28a18;
  margin: 10px 0px;
  padding-right: 25px;
  font-size: 18px;
}
/* footer */
.footer_timer {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #1f1f1f;
  border-top: 1px solid rgb(43, 42, 42);
  padding: 4px 0px;
}
.footer_timer > .alarm_type {
  display: flex;
  justify-content: space-around;
}
.alarm {
  cursor: pointer;
}
.alarm_type > .alarm {
  color: rgb(175, 169, 169);
  text-align: center;
  text-transform: capitalize;
}
.alarm > .alarmI {
  font-size: 35px;
}
.alarm > h5 {
  font-weight: 400;
  margin-top: -4px;
}
.tin_color {
  color: #e28a18 !important;
}
/* //Input field */
.section_center {
  width: 100%;
  height: auto;
}
.gift_info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 20px;
}
.gift_info > .input_fild {
  text-align: center;
}
.input_fild > .select1 {
  margin-bottom: 30px;
}
.select1 > select {
  font-size: 18px;
  padding: 10px 20px;
  background-color: #0f121b;
  color: rgb(214, 207, 207);
  /* border: none; */
  margin-right: 5px;
  /* appearance: none; */
}
.select2 {
  margin-bottom: 20px;
}
.select2 > select {
  font-size: 16px;
  padding: 10px 18px;
  background-color: #0f121b;
  color: rgb(214, 207, 207);
  /* border: none; */
  margin-right: 5px;
  /* appearance: none; */
}
.select2 > h4 {
  font-size: 14px;
  font-weight: 400;
  color: rgb(165, 34, 126);
  margin-bottom: 5px;
}
.alarm_mgs {
  color: rgb(165, 34, 126);
}
.alarm_mgs > h3 {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 6px;
}
.alarm_mgs > input {
  /* width: 220px; */
  font-size: 18px;
  padding: 5px 10px;
  outline: none;
  border: none;
  background-color: #0f121b;
  color: #e7eaec;
  border: 1px solid rgb(119, 119, 119);
}
/* Timer Section */

.timer_action {
  width: 100%;
  height: 74.9%;
}
.deadline {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid rgb(37, 36, 36);
}
.icon_control {
  margin-right: 10px;
}
.icon_control > .icon_delete {
  color: rgb(214, 16, 16);
  font-size: 18px;
  cursor: pointer;
}
.deadline_info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #8a8e91;
  align-items: center;
}
.deadline_info > .alarm_tune {
  margin: 0px 5px;
}
.alarm_tune > .giveaway {
  font-size: 18px;
  font-weight: 500;
}
.alarm_tune > .giveaway > p {
  text-align: center;
  font-size: 18px;
}
.button_mobile {
  position: relative;
  width: 45px;
  height: 25px;
  border: 2px solid rgb(68, 68, 68);
  background-color: transparent;
  display: flex;
  overflow: hidden;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.button_mobile > .switch {
  position: absolute;
  width: 50%;
  height: 97%;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  background: #fff;
  border-radius: 50%;
  margin: 0;
  display: block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.slide {
  left: 0 !important;
}
.bg {
  background-color: green;
  border: 2px solid green;
}
.text_white {
  color: #f1eeee;
}
.text_yellow {
  color: #eb9523 !important;
}
.alarm_tune {
  display: block;
}
.alarm_tune1 {
  display: none;
}
@media only screen and (max-width: 540px) {
  .alarm_main {
    height: 100vh;
  }
  .alarm_tune {
    display: none;
  }
  .alarm_tune1 {
    display: block;
  }
  .alarm_tune1 h4 p span {
    font-size: 30px;
    font-weight: 400;
  }
  .alarm_tune1 h4 p span .am {
    font-size: 17px;
  }
  .alarm_tune1 h4 > span {
    font-size: 12px;
    font-weight: 400;
    color: #c07718;
  }
  .button_mobile {
    width: 41px;
    height: 23px;
  }
  .deadline-format span {
    font-size: 10px !important;
    font-weight: 700;
  }
  .deadline-format h4 {
    font-size: 12px !important;
    margin-bottom: -4px;
    font-weight: 700;
  }
  .deadline_inner > .deadline-format {
    display: unset !important;
    width: 34px !important;
    padding: 2px 0 !important;
  }
  .deadline {
    padding: 8px 12px;
    align-items: center;
  }
  .watch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
  }
  .outer-circle {
    width: 232px !important;
    height: 232px !important;
  }
  .inner-circle {
    width: 215px !important;
    height: 215px !important;
  }
  .text {
    font-size: 35px !important;
  }
  .button_laps {
    width: 230px !important;
  }
  .button-wrapper {
    margin-top: 20px !important;
  }
  .laps {
    margin-top: 10px !important;
  }
  .lap-lear-button {
    top: 82% !important;
    transform: translate(-50%) !important;
    -webkit-transform: translate(-50%) !important;
    -moz-transform: translate(-50%) !important;
    -ms-transform: translate(-50%) !important;
    -o-transform: translate(-50%) !important;
    width: 95px !important;
    padding: 8px 0 !important;
  }
  .massage h2 {
    font-size: 20px;
  }
}
.alarm_tune > .giveaway span {
  color: #a56615;
}
.deadline_inner > .deadline-format {
  width: 50px;
  padding: 0px 0px;
  background-color: #121a31;
  margin-left: 6px;
  text-align: center;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.deadline_info > .deadline_inner {
  display: flex;
  margin-right: 5px;
}
.deadline-format span {
  font-size: 14px;
}
/********* 👉👉  Alarm End *************/

/********* 👉👉 stopWatch start *************/

.container {
  font-size: 16px;
  width: 100%;
}
h1 {
  font-size: 22px;
  font-weight: 600;
  padding: 12px 0px;
  border-bottom: 1px solid rgb(54, 54, 54);
  color: rgb(230, 224, 224);
  background-color: #1d1d1d;
  text-align: center;
  margin-bottom: 20px;
}
.animation-bg {
  background: linear-gradient(
    -45deg,
    #ee7752,
    yellow,
    orange,
    #e73c7e,
    #23a6d5,
    #23d5ab
  );
  background-size: 400% 400%;
  animation: gradient 7s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.watch {
  display: flex;
  justify-content: space-between;
  margin: 0px 20px;
}
.outer-circle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1rem 1.5rem 2rem rgba(0, 0, 0, 0.9);
}

.inner-circle {
  width: 232px;
  height: 232px;
  border-radius: 50%;
  background-color: #0f121b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  color: white;
  font-size: 40px;
}
.button_laps {
  width: 270px;
}
.button-wrapper {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 25px;
}

.button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  border: 3px solid white;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
}
.button:hover {
  background-color: white;
  color: black;
}
.stop:hover {
  color: red;
}
.laps {
  list-style: none;
  color: white;
  height: 219px;
  overflow: auto;
  position: relative;
  margin-top: 30px;
}
.laps::-webkit-scrollbar {
  display: none;
}
.lap-item {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 8px;
  border: 1px solid #444;
  border-radius: 50px;
  margin-bottom: 15px;
  background-color: #0f121b;
}
.number {
  color: #cccccc;
  margin-left: 40px;
}
.timeStamp {
  margin-right: 40px;
}
.time-stamp {
  display: inline-block;
  margin-left: 25px;
}
.lap-lear-button {
  display: block;
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 63%;
  transform: translate(82%);
  -webkit-transform: translate(82%);
  -moz-transform: translate(82%);
  -ms-transform: translate(82%);
  -o-transform: translate(82%);
  width: 130px;
  padding: 10px 0;
  border-radius: 50px;
  color: #0e0e0e;
  background-color: rgba(255, 255, 255, 0.774);
  border: 1px solid white;
  outline: none;
  cursor: pointer;
}
.hidden {
  visibility: hidden;
}
.button_Timer > .timer_btn {
  background-color: #a6a8b1;
  color: #041d24;
  border: 1px solid #b8bbbe;
}
.button_Timer > button :hover {
  color: #a9a9aa;
}
/********* 👉👉 stopWatch End *************/

/********* 👉👉 Timer start *************/
.sec_center {
  margin-top: 70px;
}
.button_Timer {
  text-align: center;
}
.selectT {
  display: flex;
}
.select1 > div > select {
  font-size: 18px;
  padding: 10px 20px;
  background-color: #0f121b;
  color: rgb(214, 207, 207);
  /* border: none; */
  margin-right: 5px;
  /* appearance: none; */
}
.select1 > div > h3 {
  color: #a6a8b1;
  text-transform: capitalize;
  font-size: 15px;
  text-align: center;
  margin-bottom: 3px;
}
.count {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 35px;
}
.time_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  width: 190px;
  height: 190px;
  background-color: #020422;
  color: #efefef;
  box-shadow: 1rem 1.5rem 2rem rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.btn-wrapper {
  margin-top: 20px;
  width: 200px;
  display: flex;
  justify-content: space-between;
}
.btn-wrapper > .but_c {
  background-color: brown;
  color: #d8d8d8;
}
.btn-wrapper > .but_c:hover {
  color: brown;
  border: 1px solid brown;
}
.btn-wrapper > .but_p {
  background-color: #a6a8b1;
}
.btn-wrapper > .but_p:hover {
  color: #a6a8b1;
  border: 1px solid #a6a8b1;
}
.mgsTune {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #768e9e;
  text-align: center;
  z-index: 5;
  padding: 15px 20px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.mgsTune > button {
  text-transform: capitalize;
  background-color: #020420dc;
  color: #ebebeb;
  margin: 10px;
}
.mgsTune > button:hover {
  color: #020422;
  border: 1px solid #a6a8b1;
}
.backdrop {
  background-color: #a6a8b123;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
/********* 👉👉 Timer End *************/
